*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-soft-red: hsl(10, 79%, 65%);
  --clr-cyan: hsl(186, 34%, 60%);
  --clr-dark-brown: hsl(25, 47%, 15%);
  --clr-medium-brown: hsl(28, 10%, 53%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-very-pale-orange: hsl(33, 100%, 98%);
}

body {
  font-size: 18px;
  font-family: "DM Sans";
  font-weight: 400;
  color: var(--clr-dark-brown);
  background-color: var(--clr-cream);
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 350px;
}

.card {
  border-radius: 0.5em;
  overflow: hidden;
  padding: 1em;

  &--top {
    background-color: var(--clr-soft-red);
    color: var(--clr-very-pale-orange);
    line-height: 1.5em;

    img {
      width: 3em;
    }
  }

  &--bottom {
    margin-top: 1em;
    background-color: var(--clr-very-pale-orange);
  }
}

.small-text {
  font-size: 0.75em;
}

.gray {
  color: var(--clr-medium-brown);
}

h1 {
  margin: 0.25em 0;
}

.balance-amount {
  font-size: 1.25em;
  font-weight: 700;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--clr-cream);
  margin: 1em 0;
  padding: 0;
}

.graph {
  height: 200px;
  margin-bottom: 2.5em;
  width: 100%;

  &__container {
    display: grid;
    grid-template-columns: repeat(7fr);
    grid-template-rows: 1fr;
    gap: .5em;
    grid-auto-flow: column;
    height: 100%;
    align-items: end;
    padding-top: 1.5em;

    .bar {
      background-color: var(--clr-soft-red);
      position: relative;
      border-radius: 0.125em;

      &::before {
        content: attr(data-day);
        bottom: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 2em);
        color: var(--clr-medium-brown);
        font-size: 0.75em;
      }

      &.current {
        background-color: var(--clr-cyan);
      }

      &:hover{
        opacity: .5;
      }
    }
  }
}

.tooltip:hover::after{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -2em);
  content: "$52.36 ";
  text-align: center;
  color: white;
  display: block;
  padding: .25em;
  border-radius: .25em;
  font-size: .75em;
  z-index: 1000;
  opacity: 1;
  background-color: var(--clr-dark-brown);
}

.total-amount {
  font-size: 1.5em;
  font-weight: 700;
}

.procent {
  font-size: 0.75em;
  font-weight: 700;
  text-align: right;
}
