*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr-cyan: hsl(186, 34%, 60%);
  --clr-cyan-h: 186;
  --clr-cyan-s: 34%;
  --clr-cyan-l: 60%;
  --clr-soft-red: hsl(10, 79%, 65%);
  --clr-soft-red-h: 10;
  --clr-soft-red-s: 79%;
  --clr-soft-red-l: 65%;
  --clr-dark-brown: hsl(25, 47%, 15%);
  --clr-medium-brown: hsl(28, 10%, 53%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-very-pale-orange: hsl(33, 100%, 98%);
}

body {
  font-size: 18px;
  font-family: "DM Sans";
  font-weight: 400;
  color: var(--clr-dark-brown);
  background-color: var(--clr-cream);
}

main {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container {
  width: 350px;
}

.card {
  border-radius: 0.5em;
  overflow: hidden;
  padding: 1em;
}

.card--top {
  background-color: var(--clr-soft-red);
  color: var(--clr-very-pale-orange);
  line-height: 1.5em;
}

.card--top img {
  width: 3em;
}

.card--bottom {
  margin-top: 1em;
  background-color: var(--clr-very-pale-orange);
}

.small-text {
  font-size: 0.75em;
}

.gray {
  color: var(--clr-medium-brown);
}

h1 {
  margin: 0.25em 0;
}

.balance-amount {
  font-size: 1.25em;
  font-weight: 700;
}

.side-by-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--clr-cream);
  margin: 1em 0;
  padding: 0;
}

.graph {
  height: 200px;
  margin-bottom: 2.5em;
  width: 100%;
}

.graph__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[7fr];
      grid-template-columns: repeat(7fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0.5em;
  grid-auto-flow: column;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-top: 1.5em;
}

.graph__container .bar {
  background-color: var(--clr-soft-red);
  position: relative;
  border-radius: 0.125em;
}

.graph__container .bar:hover {
  background-color: hsla(var(--clr-soft-red-h), var(--clr-soft-red-s), var(--clr-soft-red-l), 0.7);
}

.graph__container .bar::before {
  content: attr(data-day);
  bottom: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 2em);
          transform: translate(-50%, 2em);
  color: var(--clr-medium-brown);
  font-size: 0.75em;
}

.graph__container .bar.current {
  background-color: var(--clr-cyan);
}

.graph__container .bar.current:hover {
  background-color: hsla(var(--clr-cyan-h), var(--clr-cyan-s), var(--clr-cyan-l), 0.7);
}

.tooltip:hover::after {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -2em);
          transform: translate(-50%, -2em);
  text-align: center;
  color: white;
  display: block;
  padding: 0.25em;
  border-radius: 0.25em;
  font-size: 0.75em;
  z-index: 1000;
  opacity: 1;
  background-color: var(--clr-dark-brown);
  content: attr(data-tooltip);
}

.total-amount {
  font-size: 1.5em;
  font-weight: 700;
}

.procent {
  font-size: 0.75em;
  font-weight: 700;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */